@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Code Pro';
  src: url('https://fonts.google.com/specimen/Source+Code+Pro');
}

* {
  font-family: 'Source Code Pro', monospace; 
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.no-highlight{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: underline;
}

input {
  outline: none;
}

.bigfooter {
  visibility: hidden;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

