@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Code Pro';
  src: url('https://fonts.google.com/specimen/Source+Code+Pro');
}

* {
  font-family: 'Source Code Pro', monospace; 
}

ul {
  list-style-type: square;
  padding-left: 20px;
}


:root {
  --foreground-rgb: 209, 166, 71;
  --background-start-rgb: 46, 35, 31;
  --background-end-rgb: 46, 35, 31;
}

.no-highlight{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: underline;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  background: rgb(var(--background-end-rgb));
  outline: none;
}