@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Code Pro';
  src: url('https://fonts.google.com/specimen/Source+Code+Pro');
}

* {
  font-family: 'Source Code Pro', monospace; 
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.no-highlight{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: underline;
}

input {
  outline: none;
}